.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  background-color: rgb(72, 60, 146);
}

.logo {
  color: #ffff;
  font-size: 24;
  font-weight: bold;
}
